<script>
  import { GlLoadingIcon } from "@gitlab/ui";
  import languageLoader from "./language_loader";
  import { LINES_PER_CHUNK } from "./constants";
  import Chunk from "./components/chunk.vue";
  import { registerPlugins } from "./plugins/index";
  import hljs from "highlight.js/lib/core";

  export default {
    components: {
      GlLoadingIcon,
      Chunk,
    },
    props: {
      blob: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        languageDefinition: null,
        content: this.blob.rawTextBlob,
        language: this.blob.language,
        hljs: null,
        firstChunk: null,
        chunks: {},
        isLoading: true,
        isLineSelected: false,
      };
    },
    computed: {
      splitContent() {
        return this.content.split(/\r?\n/);
      },
      lineNumbers() {
        return this.splitContent.length;
      },
      totalChunks() {
        return Object.keys(this.chunks).length;
      },
    },
    async created() {
      this.$emit("reportEvent", {
        component: "SourceViewer",
        event: "created",
      });

      this.generateFirstChunk();
      this.hljs = hljs;

      if (this.language) {
        this.languageDefinition = await this.loadLanguage();
      }

      // Highlight the first chunk as soon as highlight.js is available
      this.highlightChunk(null, true);

      window.requestIdleCallback(async () => {
        // Generate the remaining chunks once the browser idles to ensure the browser resources are spent on the most important things first
        this.generateRemainingChunks();
        this.isLoading = false;
      });
    },
    methods: {
      handleUnsupportedLanguage() {
        this.$emit("error");
      },
      generateFirstChunk() {
        const lines = this.splitContent.splice(0, LINES_PER_CHUNK);
        this.firstChunk = this.createChunk(lines);
      },
      generateRemainingChunks() {
        const result = {};
        for (let i = 0; i < this.splitContent.length; i += LINES_PER_CHUNK) {
          const chunkIndex = Math.floor(i / LINES_PER_CHUNK);
          const lines = this.splitContent.slice(i, i + LINES_PER_CHUNK);
          result[chunkIndex] = this.createChunk(lines, i + LINES_PER_CHUNK);
        }

        this.chunks = result;
      },
      createChunk(lines, startingFrom = 0) {
        return {
          content: lines.join("\n"),
          startingFrom,
          totalLines: lines.length,
          language: this.language,
          isHighlighted: false,
        };
      },
      highlightChunk(index, isFirstChunk) {
        const chunk = isFirstChunk ? this.firstChunk : this.chunks[index];

        if (chunk.isHighlighted) {
          return;
        }

        const { highlightedContent, language } = this.highlight(
          chunk.content,
          this.language
        );

        Object.assign(chunk, {
          language,
          content: highlightedContent,
          isHighlighted: true,
        });
      },
      highlight(content, language) {
        performance.mark("highlight-started");
        let detectedLanguage = language;
        let highlightedContent;
        if (this.hljs) {
          registerPlugins(this.hljs, this.blob.fileType, this.content);
          if (!detectedLanguage) {
            const hljsHighlightAuto = this.hljs.highlightAuto(content);
            highlightedContent = hljsHighlightAuto.value;
            detectedLanguage = hljsHighlightAuto.language;
          } else if (this.languageDefinition) {
            highlightedContent = this.hljs.highlight(content, {
              language: this.language,
            }).value;
          }
        }

        performance.mark("highlight-finished");

        performance.measure(
          "highlight", {
            detail: 'SourceViewer',
            start: 'highlight-started',
            end: 'highlight-finished'
          }
        );

        return { highlightedContent, language: detectedLanguage };
      },
      async loadLanguage() {
        let languageDefinition;

        try {
          languageDefinition = await languageLoader[this.language]();
          this.hljs.registerLanguage(this.language, languageDefinition.default);
        } catch (message) {
          this.$emit("error", message);
        }

        return languageDefinition;
      },
    },
    userColorScheme: "dark",
    currentlySelectedLine: null,
  };
</script>

<template>
  <div
    class="file-content code js-syntax-highlight blob-content gl-display-flex gl-flex-direction-column gl-overflow-auto"
    :class="$options.userColorScheme"
    data-type="simple"
    :data-path="blob.path"
    data-qa-selector="blob_viewer_file_content"
  >
    <chunk
      v-if="firstChunk"
      v-on="$listeners"
      :lines="firstChunk.lines"
      :total-lines="firstChunk.totalLines"
      :content="firstChunk.content"
      :starting-from="firstChunk.startingFrom"
      :is-highlighted="firstChunk.isHighlighted"
      is-first-chunk
      :language="firstChunk.language"
      :blame-path="blob.blamePath"
    />

    <gl-loading-icon v-if="isLoading" size="sm" class="gl-my-5" />

    <chunk
      v-for="(chunk, key, index) in chunks"
      v-else
      v-on="$listeners"
      :key="key"
      :lines="chunk.lines"
      :content="chunk.content"
      :total-lines="chunk.totalLines"
      :starting-from="chunk.startingFrom"
      :is-highlighted="chunk.isHighlighted"
      :chunk-index="index"
      :language="chunk.language"
      :blame-path="blob.blamePath"
      :total-chunks="totalChunks"
      @appear="highlightChunk"
    />
  </div>
</template>

<style scoped>
  .file-content {
    width: 1246px;
    margin: 0 auto;
    background: #1c2021;
  }
</style>
