body {
  color: #fff;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;
}

.gl-absolute {
  position: absolute
}

  
.gl-z-index-3 {
  z-index: 3
} 

.gl-display-flex {
  display: flex;
} 

.gl-m-0 {
  margin: 0;
}

.gl-ml-2 {
  margin-left: 8px;
}

.gl-mr-2 {
  margin-right: 8px;
}

.gl-mb-2 {
  margin-bottom: 8px;
}

.gl-flex-direction-column {
  flex-direction: column;
}

.gl-white-space-pre-wrap\! {
  white-space: pre-wrap !important;
}

.gl-text-transparent {
  color: transparent;
}

.content-visibility-auto {
  content-visibility: auto;
}

.gl-text-center {
  text-align: center
}