<script>
  import SourceViewer from "./source_viewer/source_viewer.vue";
  import { loadBlob, sizes } from "./mock_data";
  import {
    getFileSize,
    addLCPEntry,
    getLCPEntries,
  } from "./mock_data/utils/local_storage";

  const DEFAULT_FILE_SIZE = "1k"; // 100, 1k, 30k, 100k;

  export default {
    components: {
      SourceViewer,
    },
    data() {
      return {
        blob: null,
        selectedSize: getFileSize() || DEFAULT_FILE_SIZE,
        events: [],
        metrics: {},
        lcpEntries: [],
        lcpTriggers: 0,
        startTime: 0,
        showDebugInfo: window.location.search.includes("debugger=true"),
      };
    },
    created() {
      this.initPerformanceObserver();
      this.loadBlob();
    },
    methods: {
      initPerformanceObserver() {
        const observer = new PerformanceObserver(this.handlePerformanceEvent);
        observer.observe({
          entryTypes: [
            "largest-contentful-paint",
            "longtask",
            "mark",
            "measure",
          ],
          buffered: true,
        });
      },
      handlePerformanceEvent(list, observer) {
        list.getEntries().forEach((entry) => {
          if (entry.entryType === "largest-contentful-paint") {
            this.lcpTriggers += 1;
            if (this.lcpTriggers === 2) {
              addLCPEntry(entry.renderTime);
              this.lcpEntries = getLCPEntries();
            }
          }

          if (entry.entryType === "longtask") {
            this.reportEvent({
              component: "[main]",
              event: "longtask",
              value: `${entry.duration}ms`,
            });
          }

          if (entry.entryType === "measure") {
            this.reportEvent({
              component: entry.detail,
              event: `${entry.name} duration`,
              value: `${parseFloat(entry.duration).toFixed(0)}ms`,
            });
          }
        });
      },
      async loadBlob() {
        this.blob = await loadBlob(this.selectedSize);
        this.startTime = Date.now();
        this.reportEvent({ component: "root", event: "Blob Loaded" });
      },
      selectSize() {
        this.loadBlob();
        location.reload(); // trigger reload so that we can start on a clean slate
      },
      reportEvent({ component, event, value }) {
        const timeline = `${
          this.startTime ? Date.now() - this.startTime : 0
        }ms`;
        this.events.push({ component, event, value, timeline });

        console.group({ component, event, value, timeline });
      },
      toggleDebugInfo() {
        this.showDebugInfo = !this.showDebugInfo;
      },
    },
    computed: {
      averageLCP() {
        const entries = getLCPEntries();
        return (
          entries.reduce((a, b) => parseInt(a) + parseInt(b), 0) /
          entries.length
        );
      },
    },
    sizes,
  };
</script>

<template>
  <div id="app">
    <button @click="toggleDebugInfo">Debugger</button>

    <div class="debugger" v-if="showDebugInfo">
      <div class="fileSize gl-mb-2">
        <label for="fileSize" class="gl-mr-2">File Size</label>
        <select id="fileSize" v-model="selectedSize" @change="selectSize">
          <option v-for="size in $options.sizes" :value="size" :key="size">
            {{ size }}
          </option>
        </select>
      </div>

      <hr />

      <h4>Metrics:</h4>

      <table class="metrics">
        <tr class="gl-text-center">
          <th>Metric</th>
          <th>Timestamp</th>
        </tr>

        <tr
          v-for="(value, name, index) of metrics"
          :key="index"
          class="gl-text-center"
        >
          <td>{{ name }}</td>
          <td>{{ value }}</td>
        </tr>
        <tr
          v-for="(value, index) of lcpEntries"
          :key="index"
          class="gl-text-center"
        >
          <td>LCP ({{ index === 0 ? "latest" : `-${index}` }})</td>
          <td>{{ value }}</td>
        </tr>
        <tr class="gl-text-center">
          <td>
            <b><u>LCP (avg)</u></b>
          </td>
          <td>
            <b
              ><u>{{ averageLCP }}</u></b
            >
          </td>
        </tr>
      </table>

      <h4>Events:</h4>

      <table class="events">
        <tr class="gl-text-center">
          <th>Initiator</th>
          <th>Event</th>
          <th>Value</th>
          <th>Timeline</th>
        </tr>

        <tr
          v-for="(entry, index) of events"
          :key="index"
          class="gl-text-center"
        >
          <td>{{ entry.component }}</td>
          <td>{{ entry.event }}</td>
          <td>{{ entry.value || "-" }}</td>
          <td>{{ entry.timeline }}</td>
        </tr>
      </table>
    </div>

    <SourceViewer v-if="blob" :blob="blob" @reportEvent="reportEvent" />
  </div>
</template>

<style scoped>
  .debugger {
    padding: 10px;
    color: #fff;
    font-size: 12px;
    font-family: verdana;
    background-color: #686868;
    position: fixed;
    z-index: 999;
    opacity: 90%;
  }
</style>
